.menu-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  padding: 12px;
}

.item-template {
  margin: 3px 0;
}

.curriculum-items-grid {
  display: grid;
  grid-row-gap: 1em;

  & .curriculum-card-item {
    padding: 20px;
    & .card-level {

    }

    & .card-color {
    }
  }
}
