@import '~src/variables';

$formPadding: 16px;

:host {
  display: none;

  & .ewm-modal-container {
    display: grid;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    grid-template-columns: 1fr minmax(auto, 600px) 1fr;
    grid-template-rows: auto 1fr;

    & .ewm-modal-body {
      position: relative;
      grid-column: 2;
      width: auto;
      padding: $formPadding;
      margin: 40px;
      background-color: map-get($globalBackgroundColors, main);

      & .close-button {
        position: absolute;
        top: $formPadding;
        right: $formPadding;
        transition: color $globalTransitionTiming ease-in-out;
        cursor: pointer;

        &:hover {
          color: orange;
        }
      }
    }
  }

  & .ewm-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    background-color: rgba(#222222, 0.96);
  }
}
