<div class="page-grid">
  <div class="back-button">
    <i class="fa fa-2x fa-angle-double-left"
       tabindex="0"
       (click)="onBackButtonClicked()"></i>
  </div>

  <div class="form-title">{{getTitle()}} GRADUERING</div>

  <form #curriculaForm="ngForm"
        novalidate
        class="page-form"
        (ngSubmit)="submitForm()"
        *ngIf="model !== undefined">
    <div class="form-body">

      <div class="form-field">
        <div class="info-label">
          Grad:
        </div>
        <div class="info-field">
          {{model.RankType}}
        </div>
      </div>
      <div class="form-field">
        <label for="rank">Niveau:</label>
        <input type="number"
               id="rank"
               placeholder="Indtast hvilket niveau graduering har"
               min="1"
               [(ngModel)]="model.Rank"
               #Rank="ngModel"
               name="rank"
               [class.input-invalid]="Rank.touched && Rank.invalid"
               [class.input-valid]="Rank.touched && Rank.valid"
               required>
        <div class="validation-message"
             *ngIf="Rank.touched && Rank.invalid">
          Niveau skal udfyldes
        </div>
      </div>
      <div class="form-field">
        <label for="color">Bælte:</label>
        <input type="text"
               id="color"
               placeholder="Indtast farven på bæltet ved bestået graduering"
               [(ngModel)]="model.Color"
               #Color="ngModel"
               name="color"
               [class.input-invalid]="Color.touched && Color.invalid"
               [class.input-valid]="Color.touched && Color.valid"
               required>
        <div class="validation-message"
             *ngIf="Color.touched && Color.invalid">
          Bælte skal udfyldes
        </div>
      </div>
    </div>
    <div class="form-footer">
      <button class="form-button"
              [class.button-disabled]="curriculaForm.touched && curriculaForm.invalid"
              [disabled]="curriculaForm.touched && curriculaForm.invalid"
              type="submit">Gem
      </button>
    </div>
    <div class="error-messages"
         *ngIf="errors && errors.length > 0">
      <div *ngFor="let error of errors">{{error.ErrorMessage}}</div>
    </div>
  </form>

</div>