@import '~src/variables';

.page-grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 600px) 1fr;
  grid-template-rows: auto 1fr;
  justify-content: center;
  grid-row-gap: 1em;
}

.back-button {
  position: absolute;
  top: 12px;
  left: 12px;

  & i {
    outline: none;
    border-radius: 100%;
    transition: all $globalTransitionTiming ease-in-out;
    margin: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 33px;
    height: 33px;

    &:focus {
      color: map-get($globalMainColors, main-highlight);
    }
    &:hover {
      color: map-get($globalMainColors, main-highlight);
    }
  }
}

.page-form {
  grid-column: 2;
  grid-row: 2;
}

.form-title {
  font-size: 2em;
  font-weight: 700;
  align-self: center;
  text-align: center;
  padding: 36px 0 0 0;
  text-shadow: 0 0 6px #000, 0 0 3px #000;

  grid-column: 2;
  border-bottom: 1px solid map-get($globalMainColors, main);
  margin-bottom: 36px;
  cursor: default;
}

.form-field {
  padding: 12px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 80px 1fr;

  & .info-label {
    cursor: default;
    grid-column: 1;
  }

  & .info-field {
    cursor: default;
    grid-column: 2;
  }

  & label {
    grid-column: 1;
    transition-property: color;
    transition: $globalTransitionTiming ease-in-out;
    cursor: text;
  }
  & input {
    grid-column: 2;
    border-bottom: 1px solid map-get($globalMainColors, main);
    transition-property: border-color;
    transition: $globalTransitionTiming ease-in-out;
  }

  &:focus-within {
    & input {
      border-bottom-color: map-get($globalMainColors, main-highlight);
    }
    & label {
      color: map-get($globalMainColors, main-highlight);
    }
  }
}

.form-footer {
  display: grid;
  padding-top: 1em;
  margin-top: 1em;
  grid-template-columns: 1fr auto;

  & .form-button {
    grid-column: 2;
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: map-get($globalMainColors, main);
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    transition: $globalElementTransition;
    outline: none;

    &:active {
      border: 1px solid white;
    }

    &:focus {
      background-color: map-get($globalMainColors, main-highlight);
    }

    &:hover {
      background-color: map-get($globalMainColors, main-highlight);
    }
  }
}
