@import '~src/variables';

.page-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1em;
  height: 100%;
}

.page-title {
  font-size: 2em;
  font-weight: 700;
  align-self: center;
  text-align: center;
  padding: 36px;
  grid-column-start: span 2;
  text-shadow: 0 0 6px #000, 0 0 3px #000;
}

.back-button {
  position: absolute;
  top: 12px;
  left: 12px;
  // height: 2.4em;
  // width: 2.4em;

  & i {
    outline: none;
    border-radius: 50%;
    transition: all $globalTransitionTiming ease-in-out;
    margin: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 33px;
    height: 33px;

    &:focus {
      border: 1px solid rgba(map-get($globalMainColors, complement2), 0.6);
      box-shadow: 0 0 6px 0 white;
    }
    &:hover {
      color: orange;
    }
  }
}

// .round-button {
//   position: absolute;
//   top: 12px;
//   left: 12px;
//   outline: none;
//   height: 2.4em;
//   width: 2.4em;
//   border: 1px solid transparent;
//   border-radius: 50%;
// }
