@import '~src/variables';

.page-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1em;
  height: 100%;
}

.page-title {
  font-size: 2em;
  font-weight: 700;
  align-self: center;
  text-align: center;
  padding: 36px;
  grid-column-start: span 2;
  text-shadow: 0 0 6px #000, 0 0 3px #000;
  cursor: default;
}

.details-container,
.list-container {
  position: relative;
  height: 100%;
}

.back-button {
  position: absolute;
  top: 12px;
  left: 12px;

  & i {
    outline: none;
    border-radius: 100%;
    transition: all $globalTransitionTiming ease-in-out;
    margin: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 33px;
    height: 33px;

    &:focus {
      color: map-get($globalMainColors, main-highlight);
    }
    &:hover {
      color: map-get($globalMainColors, main-highlight);
    }
  }
}
