@import '~src/variables';

$picture-dimension: 24px;

.menu-grid {
  display: grid;
  grid-template-columns: auto;
  padding: 12px;
  min-width: 222px;

  & .curriculum-selection-title {
    display: grid;
    grid-template-columns: 1fr auto;

    & .list-title {
    }

    & .list-add-button {
      & i {
        border: 1px solid transparent;
        cursor: pointer;
        transition: all $globalTransitionTiming ease-in-out;
        border-radius: 50%;
        outline: none;
      }

      & i:hover {
        color: orange;
      }

      & i:focus {
        border: 1px solid rgba(map-get($globalMainColors, complement2), 0.6);
        box-shadow: 0 0 6px 0 white;
      }
    }
  }

  & .card-grid {
    display: grid;
    grid-template-columns: auto;
    padding: 12px;
    grid-row-gap: 1em;

    & .list-empty-item {
      & .no-data-label {
        color: gray;
        margin-bottom: 1em;
      }

      & .empty-item-card {
        cursor: pointer;
        padding: 1em;
        background-color: map-get($globalMainColors, main);
        border: 1px solid transparent;
        border-radius: 3px;
        display: flex;
        transition: $globalElementTransition;
        outline: none;

        &:hover {
          background-color: map-get($globalMainColors, main-highlight);
        }

        &:focus {
          border: 1px solid rgba(map-get($globalMainColors, complement2), 0.6);
          box-shadow: 0 0 6px 0 white;
        }

        & .empty-item-icon {
          flex: 1;
          text-align: right;
          & i {
            color: inherit;
          }
        }
      }
    }

    & .curriculum-card-item {
      padding: 20px;
      cursor: pointer;
      background-color: map-get($globalMainColors, main);
      border: 1px solid transparent;
      border-radius: 3px;
      box-shadow: $globalBoxShadow;
      box-sizing: border-box;
      transition-property: all;
      transition: $globalTransitionTiming ease-in;
      outline: none;

      &:focus {
        border: 1px solid rgba(map-get($globalMainColors, complement2), 0.6);
        box-shadow: 0 0 6px 0 white;
      }

      &:hover {
        background-color: map-get($globalMainColors, main-highlight);
      }

      &:active {
        border: 1px solid white;
      }

      & .card-level {
        padding: 3px 1em;
        color: inherit;
        text-align: center;
      }

      & .card-color {
        padding: 3px 1em;
        color: inherit;
        text-align: center;
      }
    }
  }
}
