@import '~src/variables';

:host {
  border-radius: 3px;

  &:focus {
    border: 1px solid rgba(map-get($globalMainColors, complement2), 0.6);
    box-shadow: 0 0 6px 0 white;
  }

  .user-button {
    display: block;
    box-shadow: $globalBoxShadow;
    box-sizing: border-box;
    background-color: map-get($globalMainColors, main);
    border-radius: inherit;
    width: inherit;
    height: inherit;
    outline: inherit;
    border: 1px solid transparent;
    transition-property: background-color, border;
    transition: $globalTransitionTiming ease-in;

    &:hover {
      background-color: map-get($globalMainColors, main-highlight);
      cursor: pointer;
    }

    &:focus {
      border: 1px solid rgba(map-get($globalMainColors, complement2), 0.6);
      box-shadow: 0 0 6px 0 white;
    }

    & .user-button-content-container {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      height: 100%;

      & .user-button-content {
        align-content: center;
        text-align: center;
      }
    }
  }
}
