@import '~src/variables';

:host {
  border-radius: $global-border-radius;

  & .user-button {
    display: block;
    box-shadow: $globalBoxShadow;
    box-sizing: border-box;
    background-color: inherit;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    outline: inherit;
    border: 1px solid transparent;
    transition-property: background-color, border;
    transition: $globalTransitionTiming ease-in;
    cursor: pointer;

    &:active {
      border: 1px solid white;
    }

    &:focus {
      background-color: map-get($globalMainColors, main-highlight);
    }

    &:hover {
      background-color: map-get($globalMainColors, main-highlight);
    }

    & .user-button-content-container {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      height: 100%;

      & .user-button-content {
        align-content: center;
        text-align: center;
      }
    }
  }
}
