// 1a9874
$globalMainColors: (
  main: #5e5e5e,
  complement1: #981a3e,
  complement2: #421a98,
  triad1: #741a98,
  triad2: #98741a,
  main-highlight: #1a9874,
  main-highlight-active: #2f7f68
);

$globalTextColor: #ffffff;
$globalBackgroundColors: (
  main: #343434
);
$globalErrorColor: #98291a;
$globalTransitionTiming: 0.075s;
$globalElementTransition: background-color $globalTransitionTiming ease-in-out;
$globalBoxShadow: 0 0 4px -1px #000;

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts'